@font-face {
  font-family: "Roboto";
  font-display: auto;
  font-weight: normal;
  font-style: normal;
  src: url("Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-display: auto;
  font-weight: 600;
  font-style: normal;
  src: url("Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto";
  font-display: auto;
  font-weight: 700;
  font-style: normal;
  src: url("Roboto-Bold.ttf");
}