.mainLayout {
	padding: 22px 8px 15px 8px;
	max-width: 768px;
	width: 100%;
	flex-grow: 1;
}

.mainLayoutBeta {
	max-width: 768px;
	width: 100%;
	flex-grow: 1;
}

@media all and (min-width: 766px) {
	.mainLayoutBeta {
		padding: 18px 18px;
	}
}

.bottomSheetBg {
	border-radius: 25px 25px 0 0;
	min-height: 60vh;
	background: #f4f4f2;
}

.bottomSheetBgWhite {
	background: #fff;
}

@media all and (min-width: 766px) {
	.bottomSheetBg {
		border-radius: 34px 34px 0 0;
	}
}
