.howMuchLeftContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 18px 17px;
	border-radius: 13px;
}

.fancy {
	background: linear-gradient(93.72deg, #5020CA 9.83%, #5020CA 9.84%, #8365E0 96.15%);
	color: white;
}

.notFancy {
	color: black;
}

.colorDefault {
	background: #e7edec;
}

.colorSoon {
	background: #e4f5d6;
}

.colorImminent {
	background: #fbdcdc;
}

.nextBusContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.fastReplyContainer {
	margin-top: 18px;
	width: 100%;
}

.fastReplyButton {
	background: #e4f5d6;
	border-radius: 13px;
	color: black;
	padding: 15px;
	width: 100%;
	border: none;
	font: inherit;
}

.textWrapper {
}

.highlighted {
	font-weight: bold;
}

.busEstimation {
	font-size: 18px;
	margin-left: 19px;
}
